%h2 Contributors
%ul
  %li
    Dr Nic -
    %a{ :href => 'http://github.com/drnic' } github
    \-
    %a{ :href => 'http://twitter.com/drnic' } @drnic
    \-
    %a{ :href => 'http://drnicwilliams.com' } drnicwilliams.com

  %li
    Justin Mazzi -
    %a{ :href => 'http://github.com/jmazzi' } github
    \-
    %a{ :href => 'http://twitter.com/jmazzi' } @jmazzi
    \-
    %a{ :href => 'http://r00tshell.com' } r00tshell.com
    